//======================================================================
// brand
//======================================================================
$brand-primary: #f29438;
$brand-secondary: #19BF89;
$brand-lightblue: #75F4EF;
$brand-nugget: #BF9119;
$brand-clay-creek: #8C7E58;

$brand-primary-dark: darken( $brand-primary, 10% );
$brand-primary-light: lighten( $brand-primary, 10% );

$brand-secondary-dark: darken( $brand-secondary, 10% );
$brand-secondary-light: lighten( $brand-secondary, 10% );

$brand-lightblue-dark: darken( $brand-lightblue, 10% );
$brand-lightblue-light: lighten( $brand-lightblue, 10% );

$brand-nugget-dark: darken( $brand-nugget, 10% );
$brand-nugget-light: lighten( $brand-nugget, 10% );

$brand-clay-creek-dark: darken( $brand-clay-creek, 10% );
$brand-clay-creek-light: lighten( $brand-clay-creek, 10% );

//======================================================================
// links
//======================================================================
$link-color: #1279be !default;
$link-decoration: none !default;
$link-hover-color: darken( $link-color, 15% ) !default;
$link-hover-decoration: underline !default;

//======================================================================
// white & black
//======================================================================
$white:  #fff !default;
$gray-10: #f8f9fa !default;
$gray-20: #e9ecef !default;
$gray-30: #dee2e6 !default;
$gray-40: #ced4da !default;
$gray-50: #adb5bd !default;
$gray-60: #868e96 !default;
$gray-70: #495057 !default;
$gray-80: #343a40 !default;
$gray-90: #212529 !default;
$black:  #000 !default;

//======================================================================
// Margin & Padding point
//======================================================================
$margin: 15px !default;
$margin-2: $margin * 2 !default;
$margin-4: $margin-2 * 2 !default;
$margin-8: $margin-4 * 2 !default;

$padding: 15px !default;
$padding-2: $padding * 2 !default;
$padding-4: $padding-2 * 2 !default;
$padding-8: $padding-4 * 2 !default;
